---
title : Victor Candiani
layout : 'base.njk'
--- 


  <section class="hero">
    <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Bem Vindo ao meu Blog</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sint doloribus nam distinctio porro animi, possimus deserunt optio vero sunt!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, repellendus.</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Principais Posts</a>
          <a href="./blog" class="btn btn--neutral">Posts Recentes</a>
        </div>
      </div>
      <div>
        <img src="https://images.pexels.com/photos/8274089/pexels-photo-8274089.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="hero__image"></div>
      </div>
    </section>
    <section id="featured-articles" class="featured-articles home-color">
      <div class="container flow">
        <h2 class="section-title text-center home-color">Principais Posts</h2>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, maxime?</p>
        <ul role="list" class="articles__list flow home-color">

          {%- for post in collections.featured | reverse -%}
            {% include 'article-snippet.njk' %}
          {%- endfor -%}

        </ul>
      </div>
    </section>
